.wrapper{
    margin: 0 auto;
    min-width: 360px;
    max-width: 1025px;
    width: 375px;
    background: #fff;
}

.blind{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    margin: -1px;
}

.inner{
    padding: 0 20px;
}